body, html
  margin: 0
  padding: 0

body
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  background: #fff
  color: #444
  font: 19px/1.5em "HelveticaNeue", Helvetica, Arial, sans-serif

img
  width: 100%